apiVersion: v1
kind: Secret
metadata:
  name: fastapi-watsonx-secret
stringData:
  WATSONX_IAM_APIKEY: your-api-key
  WATSONX_PROJECT_ID: project-id
  WATSONX_REGION: eu-de
  WATSONX_ON_PREM: "1"
  CPD_URL: "https://cpd-cpd.apps.itz-98c1zp.pok-lb.techzone.ibm.com/ml/v1"
  USERNAME: cpadmin
  WATSONX_VERSION: "2023-05-29"
type: Opaque  